<div class="ask-your-coach d-flex justify-content-center">
  <%= "Ask your coach anything:" %>
</div>

<form class="d-flex justify-content-center" action="answer" data-turbo="get">
  <input class="form-control w-50" type="text" name="question">
  <input class="btn btn-primary justify-content-center" type="submit" value="Ask!">
</form>
